

.registration-form{
    min-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background: #1a1919;
}

.form-group{
    display: flex;
    flex-direction: column;
    padding: 7px;
    margin-bottom: 15px;
}

.form-group label{
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    padding: 8px;
    border: 1px solid #b700ff;
    border-radius: 5px;
}



button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


input.error, select.error {
    border: 1px solid red;
}
.error-message {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}

.course-card {
    border: 1px solid #b700ff;
    border-radius: 8px;
    padding: 10px;
    margin-top: 15px;
    background-color: #222;
    color: #fff;
    width: 100%;
}

.course-card h3 {
    margin-bottom: 5px;
}

.course-card p {
    margin: 3px 0;
}

.course-card img {
    width: 100%;        
    height: 200px;      
    object-fit: cover;  
    border-radius: 5px;
}



@media (max-width: 480px) {
    .registration-form {
        min-width: 100%;
        padding: 10px;
    }

    .form-group {
        padding: 5px;
    }

    button {
        width: 100%;
        padding: 12px;
    }

    .course-card {
        padding: 10px;
        font-size: 14px;
    }

    .course-card img {
        height: 150px;
        width: 100%;
        border-radius: 5px;
    }

}